* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    color: #f0f0f0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    position: relative;
}

.main-cont {
    height: 100%;
    background: url('./img/ck6axr5izcptnksqp75lnejn5-update-images4.0.130.2500.1406.max.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.head {
    height: fit-content;
    font-size: 36px;
    padding: 10px;
    position: relative;
    top: -20px;
}

.main-sec {
    margin-top: 20px;
    height: 65%;
    width: 100%;
    position: relative;
    top: -20px;
}

#myChart {
    height: 100%;
    width: 100%;
}

.footer-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.continent-btn-cont,
.data-btn-cont {
    padding: 10px;
    position: relative;
    top: -20px;
}

/* TO FIX!!! */
/* .btn {
    color: #fff;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background: transparent;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
} */

.btn,
.data-btn,
.currnet-btn {
    color: #fff;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background: #030303;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn:hover {
    background: #030303;
    color: #fff;
}

.btn:hover,
.data-btn:hover {
    background: transparent;
    color: #fff;
}

.current-btn {
    color: #fff;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background: #030303;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid rgb(253, 123, 17);
    cursor: pointer;
}

.countries-cont {
    height: auto;
    width: 100%;
    position: relative;
    top: -20px;
}

.list-cont {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    list-style: none;
}

.li-style {
    text-decoration: none;
    font-weight: 600;
    color: #f0f0f0;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.li-style:hover {
    color: #000;
    text-decoration: underline;
    background: #f0f0f0;
}

.display-none {
    display: none;
}

.country-info {
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: #000;
    background: transparent;
    height: 100px;
    width: 250px;
    text-align: center;
    font-size: 24px;
    font: 500;
}